.custom-card {
  height: 400px;
  width: 400px;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.currency-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.fixed-rate-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
